 body {
  background-color: #151515;
}

.contact .container {
  background-color:#0E0101;
  padding:4px;
  margin:50px;
}

.contact h1 {
  color: #f7f7f7;
  font-family: "Times New Roman",Times,serif;
  font-size: 48px;  
  font-weight: bold;
}

.contact p {
  font-size: 20px;
  color: #F7F7F7;
}

.history ul {
  color: #f7f7f7
}

.history table {
  color: #F7F7F7
}

.history .container {
    background-color:#0E0101;
    padding: 4px;
    margin:50px;
}

.history .container table th, td{
    padding: 7px;
}

.history h2 {
    color:#F7F7F7;
    font-size:16px;
}

.history .container h3 {
  color: #f7f7f7;
  font-family: "Times New Roman",Times,serif;
  border-bottom-style: solid;
}

.history p {
  color: #f7f7f7
}