.section table {
	border:0; 
	width:100%;
	padding: 5px;
}


table tr td {
	padding: 3px;
}

h1 {
	border: 2px solid black;
	padding: 7px;
    border-radius: 8px;
}

.section h1 {
	font-family: Times, serif;
}

* {
	color:#f3f010;
	background-color: #1b1b0e;
}

#contact {
    text-align: center;
}

.active {
    background-color:#999966;
}

h2 {
	font-size: 52px;
	font-style: oblique;
}