.section table {
	border:0; 
	width:100%;
	padding: 5px;
}

document{
	font-family: Oswald, sans-serif;
}

table tr td {
	padding: 3px;
}

h1 {
	border: 2px solid black;
	padding: 7px;
    border-radius: 8px;
    font-size: 45px;
    margin: 20px 45px;
}

section{
	box-shadow: 
}

.section h1 {
	font-family: Oswald, sans-serif;
}

* {
	color:#f3f010;
	background-color: #1b1b0e;
}

#contact {
    text-align: center;
    margin-bottom: 75px;
}

.active {
    background-color:#999966;
}

h2 {
	font-size: 52px;
}

#work h1{
	box-shadow: 1px 1px yellow;
}

#work-body{
	margin-left: 100px;
}

#skills h1{
	box-shadow: 1px 1px yellow;
}

#skills-body{
	margin-left: 100px;
}

#skills-body ul li {
	list-style-type: none;
	margin-bottom: 25px:;
}

#school h1{
	box-shadow: 1px 1px yellow;
}

#school-body{
	margin-left: 100px;
}

#volunteer h1{
	box-shadow: 1px 1px yellow;
}

#volunteer-body{
	margin-left: 100px;
}

#refs h1{
	box-shadow: 1px 1px yellow;
}

#refs-body{
	margin-left: 100px;
}